USE [Roboka]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 18/10/23 12:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Buttons]    Script Date: 18/10/23 12:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buttons](
	[Id] [int] NOT NULL,
	[Code] [nvarchar](max) NULL,
	[Text] [nvarchar](50) NULL,
	[Type] [int] NOT NULL,
	[ViewType] [int] NOT NULL,
	[ImageUrl] [nvarchar](250) NULL,
	[Row] [int] NOT NULL,
	[Order] [int] NOT NULL,
	[StateId] [int] NOT NULL,
	[BehaviourType] [int] NOT NULL,
	[Data] [nvarchar](500) NULL,
	[CreateDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Buttons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarBrands]    Script Date: 18/10/23 12:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarBrands](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[NameEn] [nvarchar](100) NULL,
	[Uses] [int] NOT NULL,
	[Logo] [nvarchar](50) NULL,
	[CarTypeId] [int] NOT NULL,
	[CreateDateTime] [datetime] NOT NULL,
	[Popular] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.CarBrands] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarModels]    Script Date: 18/10/23 12:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarModels](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[NameEn] [nvarchar](150) NULL,
	[CarBrandId] [int] NOT NULL,
	[CreateDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.CarModels] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarTypes]    Script Date: 18/10/23 12:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](50) NULL,
	[TypeFa] [nvarchar](50) NULL,
	[CreateDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.CarTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 18/10/23 12:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[NameFa] [nvarchar](50) NULL,
	[PhonePrefix] [nvarchar](10) NULL,
	[ProvinceId] [int] NOT NULL,
	[CreateDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Cities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Configs]    Script Date: 18/10/23 12:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Configs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LastMessageId] [nvarchar](200) NULL,
	[CreateDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Configs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExceptionLogs]    Script Date: 18/10/23 12:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExceptionLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ChatId] [nvarchar](250) NULL,
	[Title] [nvarchar](250) NULL,
	[Exception] [nvarchar](max) NULL,
	[WebException] [nvarchar](max) NULL,
	[CreateDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.ExceptionLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 18/10/23 12:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ChatId] [nvarchar](250) NULL,
	[PaymentToken] [nvarchar](250) NULL,
	[Type] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[SettleStatus] [int] NOT NULL,
	[OrderStatus] [int] NOT NULL,
	[Amount] [nvarchar](250) NULL,
	[CreateDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provinces]    Script Date: 18/10/23 12:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provinces](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProvinceName] [nvarchar](50) NULL,
	[ProvinceNameFa] [nvarchar](50) NULL,
	[CreateDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Provinces] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThirdParties]    Script Date: 18/10/23 12:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThirdParties](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ChatId] [nvarchar](250) NULL,
	[CarType] [nvarchar](50) NULL,
	[CarBrand] [nvarchar](100) NULL,
	[CarModel] [nvarchar](150) NULL,
	[CarProductionYear] [nvarchar](10) NULL,
	[CarUsage] [nvarchar](10) NULL,
	[LastPolicyExpDate] [nvarchar](15) NULL,
	[YearsWithoutIncident] [nvarchar](2) NULL,
	[LiabilityPropertyDamage] [nvarchar](20) NULL,
	[PolicyTerm] [nvarchar](5) NULL,
	[Submited] [bit] NOT NULL,
	[UId] [nvarchar](50) NULL,
	[Company] [nvarchar](50) NULL,
	[FirstName] [nvarchar](250) NULL,
	[LastName] [nvarchar](250) NULL,
	[NationalId] [nvarchar](10) NULL,
	[BirthDate] [nvarchar](15) NULL,
	[CarIdCardFront] [nvarchar](500) NULL,
	[CarIdCardBack] [nvarchar](500) NULL,
	[LastPolicyImage] [nvarchar](500) NULL,
	[CarIdGreenCard] [nvarchar](500) NULL,
	[DeliveryProvince] [nvarchar](50) NULL,
	[DeliveryCity] [nvarchar](50) NULL,
	[DeliveryAddress] [nvarchar](500) NULL,
	[Phone] [nvarchar](15) NULL,
	[WrittenProvince] [nvarchar](50) NULL,
	[WrittenCity] [nvarchar](50) NULL,
	[WrittenAddress] [nvarchar](500) NULL,
	[PolicyAddressSource] [nvarchar](500) NULL,
	[Mobile] [nvarchar](15) NULL,
	[CreateDateTime] [datetime] NOT NULL,
	[Price] [nvarchar](50) NULL,
	[TrackingCode] [nvarchar](50) NULL,
	[LastUpdatedPrice] [datetime] NULL,
	[OrderData] [nvarchar](2500) NULL,
	[LastPolicyYearsWithoutIncident] [nvarchar](max) NULL,
	[NumOfUsedPropertyCoupon] [nvarchar](max) NULL,
	[NumOfUsedPersonCoupon] [nvarchar](max) NULL,
	[CouponUsed] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.ThirdParties] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserData]    Script Date: 18/10/23 12:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserData](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ChatId] [nvarchar](250) NULL,
	[Input] [nvarchar](max) NULL,
	[ButtonId] [int] NOT NULL,
	[StateId] [int] NOT NULL,
	[CreateDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.UserData] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Buttons] ([Id], [Code], [Text], [Type], [ViewType], [ImageUrl], [Row], [Order], [StateId], [BehaviourType], [Data], [CreateDateTime]) VALUES (1, N'1-1', N'بیمه شخص ثالث', 0, 1, N'https://bimehbot.iranlms.ir/Images/thirdParty.png', 1, 1, 1, 0, NULL, CAST(N'2018-09-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Buttons] ([Id], [Code], [Text], [Type], [ViewType], [ImageUrl], [Row], [Order], [StateId], [BehaviourType], [Data], [CreateDateTime]) VALUES (2, N'1-2', N'بیمه بدنه', 0, 0, NULL, 1, 2, -1, 0, NULL, CAST(N'2018-09-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Buttons] ([Id], [Code], [Text], [Type], [ViewType], [ImageUrl], [Row], [Order], [StateId], [BehaviourType], [Data], [CreateDateTime]) VALUES (3, N'1-3', N'بیمه آنش سوزی', 0, 0, NULL, 2, 1, -1, 0, NULL, CAST(N'2018-09-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Buttons] ([Id], [Code], [Text], [Type], [ViewType], [ImageUrl], [Row], [Order], [StateId], [BehaviourType], [Data], [CreateDateTime]) VALUES (18, N'4-1', N'جستجو', 1, 0, NULL, 1, 1, 4, 0, N'{ "selection_id" : "carBrand", "search_type" : "Api", "get_type" : "Api", "is_multi_
selection" : false}', CAST(N'2018-09-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Buttons] ([Id], [Code], [Text], [Type], [ViewType], [ImageUrl], [Row], [Order], [StateId], [BehaviourType], [Data], [CreateDateTime]) VALUES (56, N'18-1', N'استان', 1, 0, NULL, 1, 1, 18, 0, N'{ "selection_id" : "province", "search_type" : "Api", "get_type" : "Api", "is_multi_
selection" : false}', CAST(N'2018-09-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Buttons] ([Id], [Code], [Text], [Type], [ViewType], [ImageUrl], [Row], [Order], [StateId], [BehaviourType], [Data], [CreateDateTime]) VALUES (57, N'18-2', N'شهر', 1, 0, NULL, 1, 2, 18, 0, N'{ "selection_id" : "cityWritten", "search_type" : "Api", "get_type" : "Api", "is_multi_
selection" : false}', CAST(N'2018-09-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Buttons] ([Id], [Code], [Text], [Type], [ViewType], [ImageUrl], [Row], [Order], [StateId], [BehaviourType], [Data], [CreateDateTime]) VALUES (61, N'19-1', N'استان', 1, 0, NULL, 1, 1, 19, 0, N'{ "selection_id" : "province", "search_type" : "Api", "get_type" : "Api", "is_multi_
selection" : false}', CAST(N'2018-09-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Buttons] ([Id], [Code], [Text], [Type], [ViewType], [ImageUrl], [Row], [Order], [StateId], [BehaviourType], [Data], [CreateDateTime]) VALUES (62, N'19-2', N'شهر', 1, 0, NULL, 1, 2, 19, 0, N'{ "selection_id" : "cityDelivery", "search_type" : "Api", "get_type" : "Api", "is_multi_
selection" : false}', CAST(N'2018-09-01T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[CarBrands] ON 

INSERT [dbo].[CarBrands] ([Id], [Name], [NameEn], [Uses], [Logo], [CarTypeId], [CreateDateTime], [Popular]) VALUES (1, N'پژو', N'car_peugeot', 7542, N'/media/cars/brands/PEUGEOT.png', 1, CAST(N'2018-09-03T20:59:01.153' AS DateTime), 1)
INSERT [dbo].[CarBrands] ([Id], [Name], [NameEn], [Uses], [Logo], [CarTypeId], [CreateDateTime], [Popular]) VALUES (2, N'پراید', N'car_pride', 5958, N'/media/cars/brands/Pride.png', 1, CAST(N'2018-09-03T20:59:01.283' AS DateTime), 1)
INSERT [dbo].[CarBrands] ([Id], [Name], [NameEn], [Uses], [Logo], [CarTypeId], [CreateDateTime], [Popular]) VALUES (3, N'سمند', N'car_samand', 1844, N'/media/cars/brands/SAMAND.png', 1, CAST(N'2018-09-03T20:59:01.400' AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[CarBrands] OFF
SET IDENTITY_INSERT [dbo].[CarModels] ON 

INSERT [dbo].[CarModels] ([Id], [Name], [NameEn], [CarBrandId], [CreateDateTime]) VALUES (1, N'301 (3 سیلندر)', N'car_peugeot_301_3', 1, CAST(N'2018-09-03T20:59:01.173' AS DateTime))
INSERT [dbo].[CarModels] ([Id], [Name], [NameEn], [CarBrandId], [CreateDateTime]) VALUES (2, N'301 (4 سیلندر)', N'car_peugeot_301_4', 1, CAST(N'2018-09-03T20:59:01.183' AS DateTime))
INSERT [dbo].[CarModels] ([Id], [Name], [NameEn], [CarBrandId], [CreateDateTime]) VALUES (3, N'508', N'car_peugeot_peugeot_508', 1, CAST(N'2018-09-03T20:59:01.187' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[CarModels] OFF
SET IDENTITY_INSERT [dbo].[CarTypes] ON 

INSERT [dbo].[CarTypes] ([Id], [Type], [TypeFa], [CreateDateTime]) VALUES (1, N'car', N'سواری', CAST(N'2018-09-03T20:59:01.123' AS DateTime))
INSERT [dbo].[CarTypes] ([Id], [Type], [TypeFa], [CreateDateTime]) VALUES (2, N'autocar', N'اتوبوس / ون', CAST(N'2018-09-03T20:59:04.127' AS DateTime))
INSERT [dbo].[CarTypes] ([Id], [Type], [TypeFa], [CreateDateTime]) VALUES (3, N'carrier', N'کامیون', CAST(N'2018-09-03T20:59:04.527' AS DateTime))
SET IDENTITY_INSERT [dbo].[CarTypes] OFF
SET IDENTITY_INSERT [dbo].[Cities] ON 

INSERT [dbo].[Cities] ([Id], [Name], [NameFa], [PhonePrefix], [ProvinceId], [CreateDateTime]) VALUES (1, N'yasuj', N'یاسوج', N'074', 1, CAST(N'2018-09-03T20:59:10.533' AS DateTime))
INSERT [dbo].[Cities] ([Id], [Name], [NameFa], [PhonePrefix], [ProvinceId], [CreateDateTime]) VALUES (2, N'andimeshk', N'اندیمشک', N'061', 2, CAST(N'2018-09-03T20:59:10.560' AS DateTime))
INSERT [dbo].[Cities] ([Id], [Name], [NameFa], [PhonePrefix], [ProvinceId], [CreateDateTime]) VALUES (3, N'dezful', N'دزفول', N'061', 2, CAST(N'2018-09-03T20:59:10.570' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Cities] OFF
SET IDENTITY_INSERT [dbo].[Configs] ON 

INSERT [dbo].[Configs] ([Id], [LastMessageId], [CreateDateTime]) VALUES (1, N'1486845901', CAST(N'2018-09-18T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Configs] OFF
SET IDENTITY_INSERT [dbo].[ExceptionLogs] ON 

INSERT [dbo].[ExceptionLogs] ([Id], [ChatId], [Title], [Exception], [WebException], [CreateDateTime]) VALUES (1, N'b_7149751_2', N'108', N'System.ArgumentNullException: Value cannot be null.
Parameter name: value
   at Newtonsoft.Json.JsonConvert.DeserializeObject(String value, Type type, JsonSerializerSettings settings)
   at Newtonsoft.Json.JsonConvert.DeserializeObject[T](String value, JsonSerializerSettings settings)
   at Newtonsoft.Json.JsonConvert.DeserializeObject[T](String value)
   at RobokaBimeBazar.API.HomeController.<Command>d__22.MoveNext() in E:\Projects\RobokaBimeBazar\RobokaBimeBazar\API\HomeController.cs:line 1647', N'', CAST(N'2018-09-24T16:51:07.297' AS DateTime))
      font-style: normal;
      font-weight: bold;
      src: url("https://cdn.bimebazar.com/static/assets/public/fonts/eot/iranyekanwebbold.eot");
      src: url("https://cdn.bimebazar.com/static/assets/public/fonts/eot/iranyekanwebbold.eot?#iefix") format("embedded-opentype"), 
      url("https://cdn.bimebazar.com/static/assets/public/fonts/woff2/iranyekanwebbold.woff2") format("woff2"), 
      url("https://cdn.bimebazar.com/static/assets/public/fonts/woff/iranyekanwebbold.woff") format("woff"), 
      url("https://cdn.bimebazar.com/static/assets/public/fonts/ttf/iranyekanwebbold.ttf") format("truetype");
  }
  
  @font-face {
      font-family: iranyekan;
      font-style: normal;
      font-weight: 300;
      src: url("https://cdn.bimebazar.com/static/assets/public/fonts/eot/iranyekanweblight.eot");
      src: url("https://cdn.bimebazar.com/static/assets/public/fonts/eot/iranyekanweblight.eot?#iefix") format("embedded-opentype"), 
      url("https://cdn.bimebazar.com/static/assets/public/fonts/woff2/iranyekanweblight.woff2") format("woff2"), 
      url("https://cdn.bimebazar.com/static/assets/public/fonts/woff/iranyekanweblight.woff") format("woff"), 
      url("https://cdn.bimebazar.com/static/assets/public/fonts/ttf/iranyekanweblight.ttf") format("truetype");
  }
  
  @font-face {
      font-family: iranyekan;
      font-style: normal;
      font-weight: normal;
      src: url("https://cdn.bimebazar.com/static/assets/public/fonts/eot/iranyekanwebregular.eot");
      src: url("https://cdn.bimebazar.com/static/assets/public/fonts/eot/iranyekanwebregular.eot?#iefix") format("embedded-opentype"), 
      url("https://cdn.bimebazar.com/static/assets/public/fonts/woff2/iranyekanwebregular.woff2") format("woff2"), 
      url("https://cdn.bimebazar.com/static/assets/public/fonts/woff/iranyekanwebregular.woff") format("woff"), 
      url("https://cdn.bimebazar.com/static/assets/public/fonts/ttf/iranyekanwebregular.ttf") format("truetype");
  }
  
  @font-face {
      font-family: iranyekan;
      font-style: normal;
      font-weight: normal;
      src: url(''https://cdn.bimebazar.com/static/assets/public/fonts/eot/iranyekanwebregular(fanum).eot'');
      src: url(''https://cdn.bimebazar.com/static/assets/public/fonts/eot/iranyekanwebregular(fanum).eot?#iefix'') format(''embedded-opentype''), /* IE6-8 */
      url(''https://cdn.bimebazar.com/static/assets/public/fonts/woff2/iranyekanwebregular(fanum).woff2'') format(''woff2''), /* FF39+,Chrome36+, Opera24+*/
      url(''https://cdn.bimebazar.com/static/assets/public/fonts/woff/iranyekanwebregular(fanum).woff'') format(''woff''), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url(''https://cdn.bimebazar.com/static/assets/public/fonts/ttf/iranyekanwebregular(fanum).ttf'') format(''truetype'');
  }
  
  body {
      direction: rtl;
  }
  
  .container,
  .content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex
  }
  
  body {
      margin: 0;
      font-family: "iranyekan"
  }
  
  a {
      text-decoration: none;
      color: #0085B6
  }
  
  a:hover {
      text-decoration: none;
      color: #00709D
  }
  
  h1 {
      color: #444;
      font-size: 25px;
      line-height: 44px;
      margin-bottom: 20px
  }
  
  p {
      color: #666;
      font-size: 16px;
      line-height: 24px
  }
  
  .container {
      display: flex;
      margin: 0 auto;
      max-width: 1200px;
      min-height: 100vh;
      align-items: center
  }
  
  .content {
      display: flex;
      width: 100%
  }
  
  .message {
      margin-left: 30px;
      padding: 60px 15px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 50%;
  }
  
  .message-content {
      width: 100%
  }
  
  .message-logo {
      max-width: 100%
  }
  
  .image {
      text-align: center;
      width: 50%;
      margin-left: 30px
  }
  
  .image>img {
      max-width: 450px
  }
  
  a.btn {
      color: #fff;
      padding: 5px 10px;
      background: #002f57;
      border-radius: 2px;
      transition: .3s background ease;
  }
  
  a.btn:hover {
      background: #fcd957;
      color: #002f57
  }
  
  .author {
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: row;
      margin-top: 50px
  }
  
  .author-credit {
      font-size: 12px
  }
  
  .author-avatar {
      margin-right: 5px;
      margin-top: 11px;
      height: 25px
  }
  
  @media screen and (max-width:1042px) {
      .message-content {
          width: 80%
      }
  }
  
  @media screen and (max-width:1023px) {
      .image,
      .message {
          text-align: center;
          width: 100%
      }
      .content {
          flex-wrap: wrap;
          max-width: 545px;
          margin: 0 auto;
          position: relative;
          padding-top: 20px
      }
      .image {
          margin-right: 0
      }
      .image>img {
          max-width: 450px;
          margin-top: 30px;
      }
      .message {
          margin-left: 0
      }
      .message-logo {
          position: absolute;
          top: 25px;
          right: 25px
      }
      .message-content {
          margin: 0 auto;
          width: 100%
      }
      .author {
          justify-content: center
      }
  }
  
  @media screen and (max-width:414px) {
      .image>img {
          max-width: 243px
      }
      .message {
          width: 100%;
          text-align: center
      }
      .message-content {
          max-width: 414px
      }
      .message-logo {
          position: absolute;
          top: 20px
      }
      h1 {
          font-size: 28px;
          line-height: 37px
      }
      .author-avatar {
          height: 24px
      }
  }
</style>
</head>

<body>
  <div class="container">
    <div class="content">
      <div class="image">
        <img src="https://cdn.bimebazar.com/static/assets/public/errorspage/503.svg" />
      </div>
      <div class="message">
        <img class="message-logo" src="https://cdn.bimebazar.com/static/logo.svg" width="150px" height="41px" />
        <div class="message-content">
          <h1>خطایی سمت سرور پیش آمده است.</h1>
          <p>لطفا چند لحظه صبر کرده و دوباره تلاش کنید.</p>
          <p style="text-align:center">021-54897000</p>
          <a class="btn home-btn" href="/">صفحه اصلی</a>
          <a class="btn" href="/contact-us/">تماس با ما</a>

        </div>
      </div>
    </div>
  </div>

</body>

</html>', CAST(N'2018-09-24T16:52:05.837' AS DateTime))
      font-style: normal;
      font-weight: bold;
      src: url("https://cdn.bimebazar.com/static/assets/public/fonts/eot/iranyekanwebbold.eot");
      src: url("https://cdn.bimebazar.com/static/assets/public/fonts/eot/iranyekanwebbold.eot?#iefix") format("embedded-opentype"), 
      url("https://cdn.bimebazar.com/static/assets/public/fonts/woff2/iranyekanwebbold.woff2") format("woff2"), 
      url("https://cdn.bimebazar.com/static/assets/public/fonts/woff/iranyekanwebbold.woff") format("woff"), 
      url("https://cdn.bimebazar.com/static/assets/public/fonts/ttf/iranyekanwebbold.ttf") format("truetype");
  }
  
  @font-face {
      font-family: iranyekan;
      font-style: normal;
      font-weight: 300;
      src: url("https://cdn.bimebazar.com/static/assets/public/fonts/eot/iranyekanweblight.eot");
      src: url("https://cdn.bimebazar.com/static/assets/public/fonts/eot/iranyekanweblight.eot?#iefix") format("embedded-opentype"), 
      url("https://cdn.bimebazar.com/static/assets/public/fonts/woff2/iranyekanweblight.woff2") format("woff2"), 
      url("https://cdn.bimebazar.com/static/assets/public/fonts/woff/iranyekanweblight.woff") format("woff"), 
      url("https://cdn.bimebazar.com/static/assets/public/fonts/ttf/iranyekanweblight.ttf") format("truetype");
  }
  
  @font-face {
      font-family: iranyekan;
      font-style: normal;
      font-weight: normal;
      src: url("https://cdn.bimebazar.com/static/assets/public/fonts/eot/iranyekanwebregular.eot");
      src: url("https://cdn.bimebazar.com/static/assets/public/fonts/eot/iranyekanwebregular.eot?#iefix") format("embedded-opentype"), 
      url("https://cdn.bimebazar.com/static/assets/public/fonts/woff2/iranyekanwebregular.woff2") format("woff2"), 
      url("https://cdn.bimebazar.com/static/assets/public/fonts/woff/iranyekanwebregular.woff") format("woff"), 
      url("https://cdn.bimebazar.com/static/assets/public/fonts/ttf/iranyekanwebregular.ttf") format("truetype");
  }
  
  @font-face {
      font-family: iranyekan;
      font-style: normal;
      font-weight: normal;
      src: url(''https://cdn.bimebazar.com/static/assets/public/fonts/eot/iranyekanwebregular(fanum).eot'');
      src: url(''https://cdn.bimebazar.com/static/assets/public/fonts/eot/iranyekanwebregular(fanum).eot?#iefix'') format(''embedded-opentype''), /* IE6-8 */
      url(''https://cdn.bimebazar.com/static/assets/public/fonts/woff2/iranyekanwebregular(fanum).woff2'') format(''woff2''), /* FF39+,Chrome36+, Opera24+*/
      url(''https://cdn.bimebazar.com/static/assets/public/fonts/woff/iranyekanwebregular(fanum).woff'') format(''woff''), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url(''https://cdn.bimebazar.com/static/assets/public/fonts/ttf/iranyekanwebregular(fanum).ttf'') format(''truetype'');
  }
  
  body {
      direction: rtl;
  }
  
  .container,
  .content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex
  }
  
  body {
      margin: 0;
      font-family: "iranyekan"
  }
  
  a {
      text-decoration: none;
      color: #0085B6
  }
  
  a:hover {
      text-decoration: none;
      color: #00709D
  }
  
  h1 {
      color: #444;
      font-size: 25px;
      line-height: 44px;
      margin-bottom: 20px
  }
  
  p {
      color: #666;
      font-size: 16px;
      line-height: 24px
  }
  
  .container {
      display: flex;
      margin: 0 auto;
      max-width: 1200px;
      min-height: 100vh;
      align-items: center
  }
  
  .content {
      display: flex;
      width: 100%
  }
  
  .message {
      margin-left: 30px;
      padding: 60px 15px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 50%;
  }
  
  .message-content {
      width: 100%
  }
  
  .message-logo {
      max-width: 100%
  }
  
  .image {
      text-align: center;
      width: 50%;
      margin-left: 30px
  }
  
  .image>img {
      max-width: 450px
  }
  
  a.btn {
      color: #fff;
      padding: 5px 10px;
      background: #002f57;
      border-radius: 2px;
      transition: .3s background ease;
  }
  
  a.btn:hover {
      background: #fcd957;
      color: #002f57
  }
  
  .author {
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: row;
      margin-top: 50px
  }
  
  .author-credit {
      font-size: 12px
  }
  
  .author-avatar {
      margin-right: 5px;
      margin-top: 11px;
      height: 25px
  }
  
  @media screen and (max-width:1042px) {
      .message-content {
          width: 80%
      }
  }
  
  @media screen and (max-width:1023px) {
      .image,
      .message {
          text-align: center;
          width: 100%
      }
      .content {
          flex-wrap: wrap;
          max-width: 545px;
          margin: 0 auto;
          position: relative;
          padding-top: 20px
      }
      .image {
          margin-right: 0
      }
      .image>img {
          max-width: 450px;
          margin-top: 30px;
      }
      .message {
          margin-left: 0
      }
      .message-logo {
          position: absolute;
          top: 25px;
          right: 25px
      }
      .message-content {
          margin: 0 auto;
          width: 100%
      }
      .author {
          justify-content: center
      }
  }
  
  @media screen and (max-width:414px) {
      .image>img {
          max-width: 243px
      }
      .message {
          width: 100%;
          text-align: center
      }
      .message-content {
          max-width: 414px
      }
      .message-logo {
          position: absolute;
          top: 20px
      }
      h1 {
          font-size: 28px;
          line-height: 37px
      }
      .author-avatar {
          height: 24px
      }
  }
</style>
</head>

<body>
  <div class="container">
    <div class="content">
      <div class="image">
        <img src="https://cdn.bimebazar.com/static/assets/public/errorspage/503.svg" />
      </div>
      <div class="message">
        <img class="message-logo" src="https://cdn.bimebazar.com/static/logo.svg" width="150px" height="41px" />
        <div class="message-content">
          <h1>خطایی سمت سرور پیش آمده است.</h1>
          <p>لطفا چند لحظه صبر کرده و دوباره تلاش کنید.</p>
          <p style="text-align:center">021-54897000</p>
          <a class="btn home-btn" href="/">صفحه اصلی</a>
          <a class="btn" href="/contact-us/">تماس با ما</a>

        </div>
      </div>
    </div>
  </div>

</body>

</html>', CAST(N'2018-09-24T16:59:38.403' AS DateTime))
      font-style: normal;
      font-weight: bold;
      src: url("https://cdn.bimebazar.com/static/assets/public/fonts/eot/iranyekanwebbold.eot");
      src: url("https://cdn.bimebazar.com/static/assets/public/fonts/eot/iranyekanwebbold.eot?#iefix") format("embedded-opentype"), 
      url("https://cdn.bimebazar.com/static/assets/public/fonts/woff2/iranyekanwebbold.woff2") format("woff2"), 
      url("https://cdn.bimebazar.com/static/assets/public/fonts/woff/iranyekanwebbold.woff") format("woff"), 
      url("https://cdn.bimebazar.com/static/assets/public/fonts/ttf/iranyekanwebbold.ttf") format("truetype");
  }
  
  @font-face {
      font-family: iranyekan;
      font-style: normal;
      font-weight: 300;
      src: url("https://cdn.bimebazar.com/static/assets/public/fonts/eot/iranyekanweblight.eot");
      src: url("https://cdn.bimebazar.com/static/assets/public/fonts/eot/iranyekanweblight.eot?#iefix") format("embedded-opentype"), 
      url("https://cdn.bimebazar.com/static/assets/public/fonts/woff2/iranyekanweblight.woff2") format("woff2"), 
      url("https://cdn.bimebazar.com/static/assets/public/fonts/woff/iranyekanweblight.woff") format("woff"), 
      url("https://cdn.bimebazar.com/static/assets/public/fonts/ttf/iranyekanweblight.ttf") format("truetype");
  }
  
  @font-face {
      font-family: iranyekan;
      font-style: normal;
      font-weight: normal;
      src: url("https://cdn.bimebazar.com/static/assets/public/fonts/eot/iranyekanwebregular.eot");
      src: url("https://cdn.bimebazar.com/static/assets/public/fonts/eot/iranyekanwebregular.eot?#iefix") format("embedded-opentype"), 
      url("https://cdn.bimebazar.com/static/assets/public/fonts/woff2/iranyekanwebregular.woff2") format("woff2"), 
      url("https://cdn.bimebazar.com/static/assets/public/fonts/woff/iranyekanwebregular.woff") format("woff"), 
      url("https://cdn.bimebazar.com/static/assets/public/fonts/ttf/iranyekanwebregular.ttf") format("truetype");
  }
  
  @font-face {
      font-family: iranyekan;
      font-style: normal;
      font-weight: normal;
      src: url(''https://cdn.bimebazar.com/static/assets/public/fonts/eot/iranyekanwebregular(fanum).eot'');
      src: url(''https://cdn.bimebazar.com/static/assets/public/fonts/eot/iranyekanwebregular(fanum).eot?#iefix'') format(''embedded-opentype''), /* IE6-8 */
      url(''https://cdn.bimebazar.com/static/assets/public/fonts/woff2/iranyekanwebregular(fanum).woff2'') format(''woff2''), /* FF39+,Chrome36+, Opera24+*/
      url(''https://cdn.bimebazar.com/static/assets/public/fonts/woff/iranyekanwebregular(fanum).woff'') format(''woff''), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url(''https://cdn.bimebazar.com/static/assets/public/fonts/ttf/iranyekanwebregular(fanum).ttf'') format(''truetype'');
  }
  
  body {
      direction: rtl;
  }
  
  .container,
  .content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex
  }
  
  body {
      margin: 0;
      font-family: "iranyekan"
  }
  
  a {
      text-decoration: none;
      color: #0085B6
  }
  
  a:hover {
      text-decoration: none;
      color: #00709D
  }
  
  h1 {
      color: #444;
      font-size: 25px;
      line-height: 44px;
      margin-bottom: 20px
  }
  
  p {
      color: #666;
      font-size: 16px;
      line-height: 24px
  }
  
  .container {
      display: flex;
      margin: 0 auto;
      max-width: 1200px;
      min-height: 100vh;
      align-items: center
  }
  
  .content {
      display: flex;
      width: 100%
  }
  
  .message {
      margin-left: 30px;
      padding: 60px 15px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 50%;
  }
  
  .message-content {
      width: 100%
  }
  
  .message-logo {
      max-width: 100%
  }
  
  .image {
      text-align: center;
      width: 50%;
      margin-left: 30px
  }
  
  .image>img {
      max-width: 450px
  }
  
  a.btn {
      color: #fff;
      padding: 5px 10px;
      background: #002f57;
      border-radius: 2px;
      transition: .3s background ease;
  }
  
  a.btn:hover {
      background: #fcd957;
      color: #002f57
  }
  
  .author {
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: row;
      margin-top: 50px
  }
  
  .author-credit {
      font-size: 12px
  }
  
  .author-avatar {
      margin-right: 5px;
      margin-top: 11px;
      height: 25px
  }
  
  @media screen and (max-width:1042px) {
      .message-content {
          width: 80%
      }
  }
  
  @media screen and (max-width:1023px) {
      .image,
      .message {
          text-align: center;
          width: 100%
      }
      .content {
          flex-wrap: wrap;
          max-width: 545px;
          margin: 0 auto;
          position: relative;
          padding-top: 20px
      }
      .image {
          margin-right: 0
      }
      .image>img {
          max-width: 450px;
          margin-top: 30px;
      }
      .message {
          margin-left: 0
      }
      .message-logo {
          position: absolute;
          top: 25px;
          right: 25px
      }
      .message-content {
          margin: 0 auto;
          width: 100%
      }
      .author {
          justify-content: center
      }
  }
  
  @media screen and (max-width:414px) {
      .image>img {
          max-width: 243px
      }
      .message {
          width: 100%;
          text-align: center
      }
      .message-content {
          max-width: 414px
      }
      .message-logo {
          position: absolute;
          top: 20px
      }
      h1 {
          font-size: 28px;
          line-height: 37px
      }
      .author-avatar {
          height: 24px
      }
  }
</style>
</head>

<body>
  <div class="container">
    <div class="content">
      <div class="image">
        <img src="https://cdn.bimebazar.com/static/assets/public/errorspage/503.svg" />
      </div>
      <div class="message">
        <img class="message-logo" src="https://cdn.bimebazar.com/static/logo.svg" width="150px" height="41px" />
        <div class="message-content">
          <h1>خطایی سمت سرور پیش آمده است.</h1>
          <p>لطفا چند لحظه صبر کرده و دوباره تلاش کنید.</p>
          <p style="text-align:center">021-54897000</p>
          <a class="btn home-btn" href="/">صفحه اصلی</a>
          <a class="btn" href="/contact-us/">تماس با ما</a>

        </div>
      </div>
    </div>
  </div>

</body>

</html>', CAST(N'2018-09-24T17:01:34.263' AS DateTime))
INSERT [dbo].[ExceptionLogs] ([Id], [ChatId], [Title], [Exception], [WebException], [CreateDateTime]) VALUES (5, N'b_7149751_2', N'SendDeliveryTimes', N'System.Net.WebException: The remote server returned an error: (404) Not Found.
   at System.Net.HttpWebRequest.EndGetResponse(IAsyncResult asyncResult)
   at System.Threading.Tasks.TaskFactory`1.FromAsyncCoreLogic(IAsyncResult iar, Func`2 endFunction, Action`1 endAction, Task`1 promise, Boolean requiresSynchronization)
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter`1.GetResult()
   at RobokaBimeBazar.Utility.Api.<GetAsync>d__0`1.MoveNext() in E:\Projects\RobokaBimeBazar\RobokaBimeBazar\Utility\Api.cs:line 29
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter`1.GetResult()
   at RobokaBimeBazar.API.HomeController.<SendDeliveryTimes>d__25.MoveNext() in E:\Projects\RobokaBimeBazar\RobokaBimeBazar\API\HomeController.cs:line 1942', N'{"detail":"Not found."}', CAST(N'2018-09-24T18:10:20.703' AS DateTime))
INSERT [dbo].[ExceptionLogs] ([Id], [ChatId], [Title], [Exception], [WebException], [CreateDateTime]) VALUES (6, N'b_7149751_2', N'thirdParty_deliveryTimes_18/09/25 4:00:00 PM +03:30_18/09/25 10:00:00 PM +03:30', N'System.Net.WebException: The remote server returned an error: (400) Bad Request.
   at System.Net.HttpWebRequest.EndGetResponse(IAsyncResult asyncResult)
   at System.Threading.Tasks.TaskFactory`1.FromAsyncCoreLogic(IAsyncResult iar, Func`2 endFunction, Action`1 endAction, Task`1 promise, Boolean requiresSynchronization)
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter`1.GetResult()
   at RobokaBimeBazar.Utility.Api.<PutAsync>d__2`1.MoveNext() in E:\Projects\RobokaBimeBazar\RobokaBimeBazar\Utility\Api.cs:line 127
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter`1.GetResult()
   at RobokaBimeBazar.API.HomeController.<Prepare>d__24.MoveNext() in E:\Projects\RobokaBimeBazar\RobokaBimeBazar\API\HomeController.cs:line 1859', N'{"car_id_card_front":["No such file exists!"],"car_id_card_back":["No such file exists!"],"last_policy_image":["No such file exists!"]}', CAST(N'2018-09-24T18:17:56.507' AS DateTime))
INSERT [dbo].[ExceptionLogs] ([Id], [ChatId], [Title], [Exception], [WebException], [CreateDateTime]) VALUES (7, N'b_7149751_2', N'thirdParty_deliveryTimes_18/09/26 10:00:00 AM +03:30_18/09/26 4:00:00 PM +03:30', N'System.Net.WebException: The remote server returned an error: (400) Bad Request.
   at System.Net.HttpWebRequest.EndGetResponse(IAsyncResult asyncResult)
   at System.Threading.Tasks.TaskFactory`1.FromAsyncCoreLogic(IAsyncResult iar, Func`2 endFunction, Action`1 endAction, Task`1 promise, Boolean requiresSynchronization)
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter`1.GetResult()
   at RobokaBimeBazar.Utility.Api.<PutAsync>d__2`1.MoveNext() in E:\Projects\RobokaBimeBazar\RobokaBimeBazar\Utility\Api.cs:line 127
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter`1.GetResult()
   at RobokaBimeBazar.API.HomeController.<Prepare>d__24.MoveNext() in E:\Projects\RobokaBimeBazar\RobokaBimeBazar\API\HomeController.cs:line 1859', N'{"car_id_card_front":["No such file exists!"],"car_id_card_back":["No such file exists!"],"last_policy_image":["No such file exists!"]}', CAST(N'2018-09-24T18:18:59.973' AS DateTime))
      font-style: normal;
      font-weight: bold;
      src: url("https://cdn.bimebazar.com/static/assets/public/fonts/eot/iranyekanwebbold.eot");
      src: url("https://cdn.bimebazar.com/static/assets/public/fonts/eot/iranyekanwebbold.eot?#iefix") format("embedded-opentype"), 
      url("https://cdn.bimebazar.com/static/assets/public/fonts/woff2/iranyekanwebbold.woff2") format("woff2"), 
      url("https://cdn.bimebazar.com/static/assets/public/fonts/woff/iranyekanwebbold.woff") format("woff"), 
      url("https://cdn.bimebazar.com/static/assets/public/fonts/ttf/iranyekanwebbold.ttf") format("truetype");
  }
  
  @font-face {
      font-family: iranyekan;
      font-style: normal;
      font-weight: 300;
      src: url("https://cdn.bimebazar.com/static/assets/public/fonts/eot/iranyekanweblight.eot");
      src: url("https://cdn.bimebazar.com/static/assets/public/fonts/eot/iranyekanweblight.eot?#iefix") format("embedded-opentype"), 
      url("https://cdn.bimebazar.com/static/assets/public/fonts/woff2/iranyekanweblight.woff2") format("woff2"), 
      url("https://cdn.bimebazar.com/static/assets/public/fonts/woff/iranyekanweblight.woff") format("woff"), 
      url("https://cdn.bimebazar.com/static/assets/public/fonts/ttf/iranyekanweblight.ttf") format("truetype");
  }
  
  @font-face {
      font-family: iranyekan;
      font-style: normal;
      font-weight: normal;
      src: url("https://cdn.bimebazar.com/static/assets/public/fonts/eot/iranyekanwebregular.eot");
      src: url("https://cdn.bimebazar.com/static/assets/public/fonts/eot/iranyekanwebregular.eot?#iefix") format("embedded-opentype"), 
      url("https://cdn.bimebazar.com/static/assets/public/fonts/woff2/iranyekanwebregular.woff2") format("woff2"), 
      url("https://cdn.bimebazar.com/static/assets/public/fonts/woff/iranyekanwebregular.woff") format("woff"), 
      url("https://cdn.bimebazar.com/static/assets/public/fonts/ttf/iranyekanwebregular.ttf") format("truetype");
  }
  
  @font-face {
      font-family: iranyekan;
      font-style: normal;
      font-weight: normal;
      src: url(''https://cdn.bimebazar.com/static/assets/public/fonts/eot/iranyekanwebregular(fanum).eot'');
      src: url(''https://cdn.bimebazar.com/static/assets/public/fonts/eot/iranyekanwebregular(fanum).eot?#iefix'') format(''embedded-opentype''), /* IE6-8 */
      url(''https://cdn.bimebazar.com/static/assets/public/fonts/woff2/iranyekanwebregular(fanum).woff2'') format(''woff2''), /* FF39+,Chrome36+, Opera24+*/
      url(''https://cdn.bimebazar.com/static/assets/public/fonts/woff/iranyekanwebregular(fanum).woff'') format(''woff''), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url(''https://cdn.bimebazar.com/static/assets/public/fonts/ttf/iranyekanwebregular(fanum).ttf'') format(''truetype'');
  }
  
  body {
      direction: rtl;
  }
  
  .container,
  .content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex
  }
  
  body {
      margin: 0;
      font-family: "iranyekan"
  }
  
  a {
      text-decoration: none;
      color: #0085B6
  }
  
  a:hover {
      text-decoration: none;
      color: #00709D
  }
  
  h1 {
      color: #444;
      font-size: 25px;
      line-height: 44px;
      margin-bottom: 20px
  }
  
  p {
      color: #666;
      font-size: 16px;
      line-height: 24px
  }
  
  .container {
      display: flex;
      margin: 0 auto;
      max-width: 1200px;
      min-height: 100vh;
      align-items: center
  }
  
  .content {
      display: flex;
      width: 100%
  }
  
  .message {
      margin-left: 30px;
      padding: 60px 15px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 50%;
  }
  
  .message-content {
      width: 100%
  }
  
  .message-logo {
      max-width: 100%
  }
  
  .image {
      text-align: center;
      width: 50%;
      margin-left: 30px
  }
  
  .image>img {
      max-width: 450px
  }
  
  a.btn {
      color: #fff;
      padding: 5px 10px;
      background: #002f57;
      border-radius: 2px;
      transition: .3s background ease;
  }
  
  a.btn:hover {
      background: #fcd957;
      color: #002f57
  }
  
  .author {
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: row;
      margin-top: 50px
  }
  
  .author-credit {
      font-size: 12px
  }
  
  .author-avatar {
      margin-right: 5px;
      margin-top: 11px;
      height: 25px
  }
  
  @media screen and (max-width:1042px) {
      .message-content {
          width: 80%
      }
  }
  
  @media screen and (max-width:1023px) {
      .image,
      .message {
          text-align: center;
          width: 100%
      }
      .content {
          flex-wrap: wrap;
          max-width: 545px;
          margin: 0 auto;
          position: relative;
          padding-top: 20px
      }
      .image {
          margin-right: 0
      }
      .image>img {
          max-width: 450px;
          margin-top: 30px;
      }
      .message {
          margin-left: 0
      }
      .message-logo {
          position: absolute;
          top: 25px;
          right: 25px
      }
      .message-content {
          margin: 0 auto;
          width: 100%
      }
      .author {
          justify-content: center
      }
  }
  
  @media screen and (max-width:414px) {
      .image>img {
          max-width: 243px
      }
      .message {
          width: 100%;
          text-align: center
      }
      .message-content {
          max-width: 414px
      }
      .message-logo {
          position: absolute;
          top: 20px
      }
      h1 {
          font-size: 28px;
          line-height: 37px
      }
      .author-avatar {
          height: 24px
      }
  }
</style>
</head>

<body>
  <div class="container">
    <div class="content">
      <div class="image">
        <img src="https://cdn.bimebazar.com/static/assets/public/errorspage/503.svg" />
      </div>
      <div class="message">
        <img class="message-logo" src="https://cdn.bimebazar.com/static/logo.svg" width="150px" height="41px" />
        <div class="message-content">
          <h1>خطایی سمت سرور پیش آمده است.</h1>
          <p>لطفا چند لحظه صبر کرده و دوباره تلاش کنید.</p>
          <p style="text-align:center">021-54897000</p>
          <a class="btn home-btn" href="/">صفحه اصلی</a>
          <a class="btn" href="/contact-us/">تماس با ما</a>

        </div>
      </div>
    </div>
  </div>

</body>

</html>', CAST(N'2018-09-29T17:05:33.990' AS DateTime))
SET IDENTITY_INSERT [dbo].[ExceptionLogs] OFF
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [ChatId], [PaymentToken], [Type], [Status], [SettleStatus], [OrderStatus], [Amount], [CreateDateTime]) VALUES (9, N'b_7149751_2', N'2Owunmvpdyhxfkbeikdfmcbizfafjtiz', 2, 2, 0, 1, N'938600', CAST(N'2018-09-03T22:44:43.467' AS DateTime))
INSERT [dbo].[Orders] ([Id], [ChatId], [PaymentToken], [Type], [Status], [SettleStatus], [OrderStatus], [Amount], [CreateDateTime]) VALUES (10, N'b_7149751_2', N'2Okhutotsqbevvojxeqdtijmvfyizjvf', 2, 2, 0, 1, N'938600', CAST(N'2018-09-03T22:48:26.767' AS DateTime))
INSERT [dbo].[Orders] ([Id], [ChatId], [PaymentToken], [Type], [Status], [SettleStatus], [OrderStatus], [Amount], [CreateDateTime]) VALUES (11, N'b_7149751_2', N'2Ogwiuvynttelcnefvqybayniqmhalqn', 2, 2, 0, 1, N'938600', CAST(N'2018-09-03T22:49:52.257' AS DateTime))
SET IDENTITY_INSERT [dbo].[Orders] OFF
SET IDENTITY_INSERT [dbo].[Provinces] ON 

INSERT [dbo].[Provinces] ([Id], [ProvinceName], [ProvinceNameFa], [CreateDateTime]) VALUES (1, N'kohgiloyeh_boyerahmad', N'کهگیلویه و بویراحمد', CAST(N'2018-09-03T20:59:10.507' AS DateTime))
INSERT [dbo].[Provinces] ([Id], [ProvinceName], [ProvinceNameFa], [CreateDateTime]) VALUES (2, N'khuzestan', N'خوزستان', CAST(N'2018-09-03T20:59:10.550' AS DateTime))
INSERT [dbo].[Provinces] ([Id], [ProvinceName], [ProvinceNameFa], [CreateDateTime]) VALUES (3, N'hamedan', N'همدان', CAST(N'2018-09-03T20:59:10.620' AS DateTime))
SET IDENTITY_INSERT [dbo].[Provinces] OFF
SET IDENTITY_INSERT [dbo].[ThirdParties] ON 

SET IDENTITY_INSERT [dbo].[ThirdParties] OFF
SET IDENTITY_INSERT [dbo].[UserData] ON 

INSERT [dbo].[UserData] ([Id], [ChatId], [Input], [ButtonId], [StateId], [CreateDateTime]) VALUES (12, N'b_7149751_2', N'وارد کردن آدرس جدید', 54, 17, CAST(N'2018-09-29T16:41:23.683' AS DateTime))
INSERT [dbo].[UserData] ([Id], [ChatId], [Input], [ButtonId], [StateId], [CreateDateTime]) VALUES (13, N'b_95373_2', N'بازگشت', 17, 3, CAST(N'2018-10-22T15:49:56.437' AS DateTime))
INSERT [dbo].[UserData] ([Id], [ChatId], [Input], [ButtonId], [StateId], [CreateDateTime]) VALUES (14, N'b_1_2', N'5,000 تومان', 0, 1, CAST(N'2018-10-22T16:20:10.997' AS DateTime))
SET IDENTITY_INSERT [dbo].[UserData] OFF
/****** Object:  Index [IX_StateId]    Script Date: 18/10/23 12:23:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_StateId] ON [dbo].[Buttons]
(
	[StateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CarTypeId]    Script Date: 18/10/23 12:23:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_CarTypeId] ON [dbo].[CarBrands]
(
	[CarTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Name]    Script Date: 18/10/23 12:23:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Name] ON [dbo].[CarBrands]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_NameEn]    Script Date: 18/10/23 12:23:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_NameEn] ON [dbo].[CarBrands]
(
	[NameEn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Popular]    Script Date: 18/10/23 12:23:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Popular] ON [dbo].[CarBrands]
(
	[Popular] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CarBrandId]    Script Date: 18/10/23 12:23:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_CarBrandId] ON [dbo].[CarModels]
(
	[CarBrandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Name]    Script Date: 18/10/23 12:23:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Name] ON [dbo].[CarModels]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Type]    Script Date: 18/10/23 12:23:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Type] ON [dbo].[CarTypes]
(
	[Type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TypeFa]    Script Date: 18/10/23 12:23:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_TypeFa] ON [dbo].[CarTypes]
(
	[TypeFa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_NameFa]    Script Date: 18/10/23 12:23:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_NameFa] ON [dbo].[Cities]
(
	[NameFa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProvinceId]    Script Date: 18/10/23 12:23:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProvinceId] ON [dbo].[Cities]
(
	[ProvinceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ProvinceName]    Script Date: 18/10/23 12:23:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProvinceName] ON [dbo].[Provinces]
(
	[ProvinceName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ProvinceNameFa]    Script Date: 18/10/23 12:23:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProvinceNameFa] ON [dbo].[Provinces]
(
	[ProvinceNameFa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ChatId]    Script Date: 18/10/23 12:23:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChatId] ON [dbo].[ThirdParties]
(
	[ChatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Submited]    Script Date: 18/10/23 12:23:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Submited] ON [dbo].[ThirdParties]
(
	[Submited] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ChatId]    Script Date: 18/10/23 12:23:40 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ChatId] ON [dbo].[UserData]
(
	[ChatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Buttons] ADD  CONSTRAINT [DF__Buttons__Behavio__01142BA1]  DEFAULT ((0)) FOR [BehaviourType]
GO
ALTER TABLE [dbo].[CarBrands] ADD  DEFAULT ((0)) FOR [Popular]
GO
ALTER TABLE [dbo].[ThirdParties] ADD  DEFAULT ((0)) FOR [CouponUsed]
GO
ALTER TABLE [dbo].[CarBrands]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CarBrands_dbo.CarTypes_CarTypeId] FOREIGN KEY([CarTypeId])
REFERENCES [dbo].[CarTypes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CarBrands] CHECK CONSTRAINT [FK_dbo.CarBrands_dbo.CarTypes_CarTypeId]
GO
ALTER TABLE [dbo].[CarModels]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CarModels_dbo.CarBrands_CarBrandId] FOREIGN KEY([CarBrandId])
REFERENCES [dbo].[CarBrands] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CarModels] CHECK CONSTRAINT [FK_dbo.CarModels_dbo.CarBrands_CarBrandId]
GO
ALTER TABLE [dbo].[Cities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Cities_dbo.Provinces_ProvinceId] FOREIGN KEY([ProvinceId])
REFERENCES [dbo].[Provinces] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cities] CHECK CONSTRAINT [FK_dbo.Cities_dbo.Provinces_ProvinceId]
GO
